html, body {
	height: 100vh;
}
h1, h2, h3 {
	margin: 0px;
	padding: 0px;
}
* {
	box-sizing: border-box;
}
body {
	font-family: -apple-system, Roboto, Helvetica Neue, Trebuchet MS, sans-serif;
	padding: 0px;
	margin: 0px;
	padding-bottom: 60px;
	background: black;
	padding: 20px;
}
body {
	top: 0 !important;
}
font {
	background-color: #ffffff00 !important;
	box-shadow: none !important;
}
.skiptranslate {
	display: none;
	height: 0;
}
#goog-gt-tt {
	display: none !important;
}
.main {
	width: 100%;
	background: #c2c2c2;
	height: 100%;
	border-radius: 5px;
	color: black;
	text-align: center;
	padding: 20px 10px;
}
h1 {
	font-size: 1.6rem;
}
.intro {
	font-size: 1.2rem;
}
.timer {
	font-weight: bold;
}
.image {
	width: 100%;
	height: auto;
	max-width: 220px;
}
.bold {
	font-weight: bold;
}
.yellow {
	color: #ece90b;
}
.red {
	color: red;
}
.survey {
	width: 100%;
	padding: 20px;
	background: white;
	box-shadow: 0 0 37px -3px rgb(0 0 0 / 54%);
}
.survey h3 {
	padding: 0px;
	margin: 0px 0px 20px 0px;
	font-size: 1.3rem;
}
.survey .answers {
	width: 100%;
	text-align: center;
}
.survey .answers button {
	display: block;
	width: 100%;
	max-width: 260px;
	margin: 10px auto;
	padding: 15px;
	background: #ffba5f;
	color: black;
	text-decoration: none;
	border-radius: 0.5rem;
	border: none;
	cursor: pointer;
	font-size: 1rem;
}
.survey .answers button:hover {
	background-color: #4CAF50; /* Green background on hover */
	color: white;
}